.homeBackground {
  background-image: url('https://ak9.picdn.net/shutterstock/videos/18935489/thumb/1.jpg');
  position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-size: cover;
    background-position: center;
}

h1 {
  margin: 0;
  padding: 1em; 
  color: white;
}

#signUpForm {
  padding: 3em;  
}

#signUpFormButton {
  margin-top: 1em; 
  margin-left: 5em; 
}